@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,200;1,300;1,400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient (rgba (0,0,0,0.75), rgba (0, 0, 0,0.75)), url(1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
body
{
    color: #ededed;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 30px;
    color: rgb(184, 112, 127);
    text-decoration: none;
    font-weight: 500;

    text-transform: uppercase;
    text-shadow: 0 0 0.15em #7a1dcc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
    
}


@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}


.navbar a {

    display: inline-block;
    font-size: 25px;
    color: afff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .9s;
}
.navbar a:hover{
    color: #0ef;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width: 700px;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p {
    font-size: 20px;
    margin: 2re 0 4rem;

}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover {
    background: #Bef;
    color: O#081b29;
    box-shadow: 0 0 20px #0ef;
    }
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan

}
@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0%;
    }
    100% {
        transform: translateX(0px);
        opacity: 1%;
    }
}


.glowing-container {
    
    margin-right: 300px;
    width: 280px; 
    height: 280px;
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: 0 0 10px rgba(255, 0, 200, 0.7); 
    animation: glowing-animation 0.7s infinite alternate;
  }
  
  .circular-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  @keyframes glowing-animation {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 200, 0.7);
    }
    100% {
      box-shadow: 0 0 20px rgba(0, 255, 89, 0.9);
    }
  }
  
  
